
@{
    ViewData["Title"] = "homework2";
}

<h1>作業二</h1>
<div >
    <div class="card" style="width: 18rem;">
        <div class="card-body" id="div1">
        </div> 
        </div>
</div>

@section Styles{

}

@section Scripts{
    <script src="~/datas/travel.js"></script>
    <script>
        //作業二 引用 datas/Travel.js 中的JSON，讀取資料後，透過 bootstrap cards component 顯示在網頁上
        const thediv=document.querySelector('#div1');
       
        
                const spot=spots.CommonFormat.Section;

        
        const data = spot.map(s=> 
            {   const img=(s.file.img.length==0||s.file.img.length==undefined)?s.file.img.text:s.file.img[0].text;
              const xbody=(s.xbody==""||s.xbody==0||s.xbody==undefined)?null:s.xbody.substring(0,50)
                const xurl=(s.xurl==""||s.xurl==0||s.xurl==undefined)?`<p class="btn btn-primary ">目前沒有官網<p>`:`<a href="${s.xurl}" class="btn btn-primary ">看官網</a>`;
   
                return (
        `<img src="${img}" class="card-img-top" alt="...">
        <h5 class="card-title">${s.stitle}</h5>
        <p class="card-text">${xbody}</p>
        ${xurl}
         `)
     });
       
            thediv.innerHTML = data.join('');
           
         
    </script>
}