
@{
    ViewData["Title"] = "Promise";
}

<h1>Promise</h1>

@section Scripts{

    <script>

        function printSomething(data) {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve(data + 1)

                }, 1000)



            })
        }
        printSomething('A').then(d=>{
            console.log(d);
            return printSomething('B')
        }).then(d=>{
            console.log(d)

        })


    </script>
}